# .gitignore
.DS_Store

/env/*
!/env/.gitkeep
/Linux-env/*
!/Linux-env/.gitkeep

/data/audio/*
!/data/audio/.gitkeep

/data/documents/*
!/data/documents/.gitkeep
/data/modeldata/Embedding/*
!/data/modeldata/Embedding/.gitkeep
/data/modeldata/LLM/*
!/data/modeldata/LLM/.gitkeep

/data/apply//audio/*
!/data/apply/audio/.gitkeep
/data/apply/emoticon/*
!/data/apply/emoticon/.gitkeep
/data/apply/audio/*
!/data/apply/audio/.gitkeep
/data/apply/apply/*
!/data/apply/apply/.gitkeep
/data/apply/text2image/*
!/data/apply/text2image/.gitkeep

/models/Embedding/*
!/models/Embedding/.gitkeep
/models/LLM/*
!/models/LLM/.gitkeep
/models/LoRA/*
!/models/LoRA/.gitkeep

/models/svc_models/hubert_model/*
!/models/svc_models/hubert_model/.gitkeep

/models/svc_models/svc/*
!/models/svc_models/svc/.gitkeep

/models/vits_pretrained_models/*
!/models/vits_pretrained_models/.gitkeep

/models/live2d_model/*
!/models/live2d_model/.gitkeep




/outputs/*

**/__pycache__